.book-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  display: flex;
  flex-direction: column;
}

.book-container:hover {
  border-color: #aaa;
}

.book-quick-view {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.book-cover {
  flex: 0 0 150px; /* Set a fixed width for the book cover */
  height: auto;
  margin-right: 20px;
}

.book-details {
  flex: 1;
  padding-left: 5%;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.author,
.publication,
.rating {
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .book-container {
    flex-direction: row;
  }
 
  .book-cover {
    margin-right: 10px;
  }
}

.quick-detail .author {
  font-weight: 500;
}
.quick-detail {
  border-bottom: .1px solid black;
  width: 100%;
}

